body {
    background-color: #a3f57a;
}

li{
    list-style-type: none;
}

ul{
    padding: 0;
}

.div1 {
    width: 300px;
    height: 200px;
    background-color: rgb(210, 34, 22);
    opacity: 0.9;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}
