body{
    background-color: aqua;
}

li{
    list-style-type: none;
}

ul{
    padding: 0;
}

.div1 {
    width: 300px;
    height: 200px;
    background-color: rgb(219, 154, 149);
    opacity: 0.9;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}